# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
.gradle/*
.idea/*
android/
android/.gradle/
ios/*
# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
*.bin
.idea/workspace.xml
android/.gradle/4.10.2/fileHashes/fileHashes.bin
*.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/4.10.2/taskHistory/taskHistory.lock
android/.gradle/4.10.2/taskHistory/taskHistory.bin
android/.gradle/4.10.2/fileHashes/fileHashes.lock
android/.gradle/4.10.2/fileHashes/fileHashes.bin
.idea/workspace.xml
.idea/workspace.xml
.metadata
Twsited_flutter_app.iml
flutter_01.log
.gitattributes
